package layout

templ Base() {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Goth Template</title>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=edvice-width, initial-scale=1.0"/>
            <link href="/view/public/styles.css" rel="stylesheet" />
        </head>
        <body>
            <div class="text-3xl font-bold underline">
                nav
            </div>
            { children... }
        </body>
    </html>
}